.navbar-inverse{
    background-color: #154668;
    border-color: #154660;
}

.navbar .navbar-brand{
    font-size: 22px;
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
    font-size: 18px;
    transition: 1s;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: orange;
    font-size: 19px;
    transition: 1s;
}
.navbar{
    box-shadow: 1px 1px 5px black;
}