<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User registarion</title>
    {% include 'header.html' %}
    {% include 'footer.html' %}
    <style>
        html{
            height: 100% ;
        }
        body{
            background-image: url('static/images/1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    {% extends 'home_navbar.html' %}
   
</body>
</html>